*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
    color: hsl(212, 21%, 14%);
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    /* margin-bottom: 1.5em;     */
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}


/* LINKS */
a,
a:hover,
a:active {
    text-decoration: none;
}

/* BUTTON */
.btn {
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    padding: 2em 1em;
    display: block;
    text-align: center;
    border-radius: 10px;
}

/* CARD */
.card {
    background-color: #fff;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.card__header {
    background-image: url("../images/image-product-mobile.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    /* align-self: stretch; */
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card__body {
    /* padding: 2em; */
    padding-top: 1em;
}

.content {
    width: 90%;
    margin: 2em auto;
}

.category {
    letter-spacing: 3px;
}

.new-price {
    display: inline-block;
    margin-right: 10px;
}

.old-price {
    text-decoration: line-through;
    color: hsl(212, 23%, 69%);
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 1em;
    display: inline-block;
    align-self: center;
}



@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.7em;
    }

    .card {
        flex-direction: row;
        max-width: 600px;
        margin: 5em auto;
    }

    .card__header {
        border-top-right-radius: 0;
        background-image: url("../images/image-product-desktop.jpg");
        height: inherit;
        width: 50%;
        border-bottom-left-radius: 10px;
    }
    .card__body {
        padding: 2em;
        width: 50%;
    }
}


/* SECTION */
.main {
    background-color: 	#f2ebe3;
    padding: 5em 0;
}

a img {
    margin-right: 15px;
    display: inline-block;
}

a p {
    display: inline-block;
}